{% extends 'portfolio/base.html' %} <!-- gdzie się odwołujemy -->

{% block content %}

	{% load static %}  <!-- załadowanie pliku statycznego-->

	 <!-- odwołanie do strony all blogs -->

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/15pierniki.jpg' %}" width=100%> <!-- zdjęcie-->
  </div>
</div>
	

	<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h2 id="hometext" class="font-weight-bold">Małgorzata Dutka</h2>
    <h2 id="opis" >Elektryk w kuchni</h2>
    <h2 id="opis2" >Moja przygoda związana z cukiernictwem zaczęła się w domowej kuchni, gdy przyglądałam się jak mama piekła świąteczny sernik. Od tamtego czasu już nie raz sama eksprymentowałam w kuchni. Teraz chciałabym się ze wszystkimi podzielić wrażeniami z moich udanych eksperymentów, które przekształciły się w prawdziwą pasję.</h2>
    
  </div>
</div>

<h2 class="mt-5">Szkolenia cukiernicze</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
   {% endfor %}
</div>


{% endblock %}




